body {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 500;
    background-color: #FDFFD9;
}

#titlebar {
    background: black;
    color: white;
    padding: 4px 13px;
    margin-bottom: 2px;
    height: 64px;
}

#words {
    padding-top: 16px;
    font-size: 200%;
    display: inline-block;
}

#byline {
    font-size: 50%;
    padding-left: 10px;
}

#byline a {
    padding-left: 5px;
}

#byline a:link {
    color: white;
}

#byline a:visited {
    color: white;
}

#byline a:hover {
    color: lightblue;
}

#winglogo {
    height: 64px;
    display: inline-block;
    float: right;
}


#helpstring {
    font-size: 50%;
    position: absolute;
    right: 100px;
    top: 45px;
}

#helpstring a {
    margin-left: 0.2em;
}

#helpstring a:visited {
    color: white
}

#helpstring a {
    color: white
}

#passes td {
    padding-right: 7px;
}

thead {
    font-weight: 800;
    background: black;
    color: white;
    border: 0px;
}


table {
    border: 1px solid black;
    border-collapse: collapse;
}

tr:nth-child(even) {
    background: #F2F0E0;
}

#spinner {
    display: block;
}