body {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 500;
    background-color: #FDFFD9;
    padding-right: 3px;
}

#titlebar {
    background: black;
    color: white;
    padding: 4px 13px;
    margin-bottom: 2px;
    height: 64px;
}

#words {
    padding-top: 16px;
    font-size: 200%;
    display: inline-block;
}

#byline {
    font-size: 50%;
    padding-left: 10px;
}

#byline a {
    padding-left: 5px;
}

#byline a:link {
    color: white;
}

#byline a:visited {
    color: white;
}

#byline a:hover {
    color: lightblue;
}

#winglogo {
    height: 64px;
    display: inline-block;
    float: right;
}


#helpstring {
    font-size: 50%;
    position: absolute;
    right: 100px;
    top: 45px;
}

#helpstring a {
    margin-left: 0.2em;
}

#helpstring a:visited {
    color: white
}

#helpstring a {
    color: white
}

#passes td {
    padding-right: 7px;
}

thead {
    font-weight: 800;
    background: black;
    color: white;
    border: 0px;
}


table {
    border: 1px solid black;
    border-collapse: collapse;
}

tr:nth-child(even) {
    background: #F2F0E0;
}

#loading-placeholder {
}

#spinner {
    height: 20px;
}

#elevation,#plan,#aoa {
    background: #010144;
    display: block;
    border: solid 1px black;
    margin-top: 7px;
    width: 100%;
    /* max-width: 1024px;*/
}

#aoa {
    /* background: #010144; */
    background: #111122;
    /* height: 200px; */
}

.carrier {
    fill: red;
}

.approach-path {
    fill: white;
}

.carrier-top,.carrier-side {
    fill: #5d5c5c;
}

.carrier-top-markings {
    stroke: white;
    stroke-width: 20;
    opacity: 0.7;
}

.carrier-top-markings.middle {
    stroke-width: 13;
}

.carrier-top-markings.end {
    stroke-width: 50;
}

.sky {
    fill: #8db8de;
}

.zero-dot {
    fill: red;
    /*display: none;*/
}

.landing-point-dot {
    fill: yellow;
}

.guideline {
    stroke: white;
    opacity: 0.7;
    stroke-width: 5;
    stroke-dasharray: 50 50;
}

/* .aoa.range.guideline { */
/*     stroke-width: 0.02; */
/*     stroke-dasharray: 0.1 0.1; */
/* } */

.aoa.axis-label {
}

/* .aoa.aoa-value.guideline { */
/*     stroke-width: 0.02; */
/* } */

.aoa-data {
    stroke: white;
    stroke-width: 20;
    opacity: 1.0;
}

.good,.ideal {
    stroke: lime;
    fill: lime;
}

.minor {
    stroke: orange;
    fill: orange;
}

.major {
    stroke: red;
    fill: orange;
}

.guideline.good {
    stroke-width: 10;
    stroke: lime;
    opacity: 1;
    stroke-dasharray: 10 30;
}

.guideline.minor {
    stroke-width: 15;
    stroke: orange;
    opacity: 1;
    stroke-dasharray: 10 30;
}

.guideline.major {
    stroke-width: 15;
    stroke: red;
    opacity: 1;
    stroke-dasharray: 10 30;
}

.axis-label {
    fill: white;
    stroke: white;
    opacity: 0.7;
    stroke-width: 5;
    font-size: 150px;
}

#pass-selection-section label {
    margin-right: 3px;
}

#pass-selection-section select {
    margin-right: 10px;
}

.three-quarter-mile {
    opacity: 1.0;
    stroke: yellow;
}
